body {
    background-color: #DDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
        margin-bottom: 0;
    }

    p {
        font-size: 1.4rem;
    }

    #text-container {
        width: 80vw;
        height: 70vh;

        border: 1px solid black;

        #text-p {
            margin: 0;
            padding: 1rem;
            height: calc(100% - 2rem);
        }
    }

    button {
        width: min-content;
        margin-top: 1rem;
        font-size: larger;
    }
}
